.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #454242;
  color: #ede7e7;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid #ede7e7;
  border-radius: 10px;
  width: 40%;
}
.todoForm{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.todoForm > input {
  padding: 10px 15px;
  width: 60%;
  border-radius: 20px;
  border: none;
}
.todoForm > input:focus {
  outline: 4px solid rgba(7, 19, 242, 0.5);
}
.todoForm > button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: #ede7e7;
  color: #454242;
}
.allTodos{
  padding: 0;
  list-style-type: none;
  width: 90%;
  margin-top: 20px;
}
.allTodos > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #ede7e7;
  color: #454242;
  margin-bottom: 10px;
}
.allTodos > li > div {
  display: flex;
  gap: 10px;
}
.allTodos > li > div > button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #1823b7b6;
  color: #e9e9e9;
}
.allTodos > li > div > button:hover {
  background-color: #0c1ae0;
}
.allTodos > li > div > button:last-child  {
  background-color: #b71818;
}
.allTodos > li > div > button:last-child:hover {
  background-color: #800c0c;
}